.property-price,
.property-fetures,
.property-name,
.property-size {
    z-index: 2;
}

.card {
    border-radius: 10px;
    box-shadow: 0px 10px 20px 0px rgba(134, 171, 191, 0.20);
}

.card:hover {
    box-shadow: 0px 10px 20px 0px rgba(105, 123, 132, 0.2);
    transform: scale(1.01);
    transition: 0.5s;
}

.card:hover img {
    filter: brightness(0.8);
    transition: 0.5s;
}

.card-image-container {
    position: relative;
    overflow: hidden;
}

.card-image {
    height: 240px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.property-price {
    color: rgb(53, 53, 53);
    font-weight: 500;
    font-size: 12px;
    border-radius: 5px;
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: rgba(255, 255, 255, 0.878);
    padding: 5px 10px;
}

.property-fetures {
    font-size: 10px;
    border-radius: 5px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    background-color: rgba(31, 31, 31, 0.777);
    color: white;
    padding: 5px 10px;
}

.property-name {
    color: rgb(53, 53, 53);
    font-size: 12px;
    border-radius: 5px;
    position: absolute;
    bottom: 45px;
    left: 15px;
    background-color: rgba(255, 255, 255, 0.878);
    padding: 5px 10px;
}

.property-size {
    color: rgb(53, 53, 53);
    font-size: 12px;
    border-radius: 5px;
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: rgba(255, 255, 255, 0.878);
    padding: 5px 10px;
}

.heart {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.card-info {
    padding: 15px;
}