/* SearchBar.css */
.searchBar {
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }
  
  .searchBar select,
  .searchBar input {
    font-size: 14px;
    font-weight: 500;
    background-color: white;
    margin-right: 40px;
    flex-grow: 1;
  }
  
  .searchBar button {
    font-size: 14px;
    font-weight: 500;
    background-color: #272727;
    color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    flex-shrink: 0;
  }
  